
@import url( "https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@500&display=swap");
@import url("components/container.css"); 
@import url("components/avatar.css"); 
@import url("components/banner.css");
@import url("components/button.css"); 
@import url("components/card.css"); 

body {
	font-family: Lato;
	font-size: 18px;
	margin: 0px;
	background-color: #a2d5c6;
	
}

h1,h2,h3 {
	font-family: Lora;
	font-weight: bold;
}

a { text-decoration: none; }

.textcenter {
	text-align: center;
}

